{:main           replete.system
 :optimizations  :advanced
 :source-map     "resources/public/js/compiled/app.js.map"
 :cache-analysis true
 :output-to      "resources/public/js/compiled/app.js"
 :output-dir     "resources/public/js/compiled/out"
 :asset-path     "js/compiled/out"}
