{:main            replete.system
 :optimizations   :simple
 :output-to       "resources/public/js/compiled/app.js"
 :output-dir      "resources/public/js/compiled/out"
 :asset-path      "js/compiled/out"
 :external-config {:devtools/config {:features-to-install :all}}}
