{:main            replete.system
 :output-to       "resources/public/js/compiled/app.js"
 :output-dir      "resources/public/js/compiled/out"
 :asset-path      "js/compiled/out"
 :cache-analysis  false
 :external-config {:devtools/config {:features-to-install :all}}
 :preloads        [devtools.preload]}
