{:main replete.worker
 :output-to "resources/public/js/compiled/worker.js"
 :output-dir "resources/public/js/compiled/worker-out"
 :asset-path "/js/compiled/worker-out"
 :target :webworker
 :recompile-dependents false}
